/*general format*/	
@font-face {
    font-family: forte;
    src: url(assets/font/FORTE.TTF);
}
@font-face {
    font-family: open sans;
    src: url(assets/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open sans light;
    src: url(assets/font/OpenSans-Light.ttf);
}
*{
	font-family:"open sans",Verdana,sans-serif;
}
html{
	min-height:100vh;
	position:relative;
}
h1,h2,h3{
	font-weight:;
}
body{
	margin:0px;
	padding:0px;
	background-size: cover;
}
a{
	color:inherit;
}

/*********index*********/
.box1{
	top:50%;
	left:50%;
	margin:-200px -175px;
	width:350px;
	height:400px;
	padding:40px 40px;
	text-align:center;
	align-content: center;
	background-color:rgba(255,255,255,0.0);
	position:fixed;
	border:1px solid black;
}